h1{
    color: rgb(223, 28, 28);  /* färg på stor rubrik  */
}
h2{
    color: blue;    /* färg på mellan rubrik */
}
h3{
    color: blueviolet;  /*färg på minsta rubrik*/
}


div{
    position: relative;
    color: red;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 255, 68, 0.16);
}